[submodule "src/github.com/golang/protobuf"]
	path = src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "src/github.com/onsi/ginkgo"]
	path = src/github.com/onsi/ginkgo
	url = https://github.com/onsi/ginkgo
[submodule "src/github.com/onsi/gomega"]
	path = src/github.com/onsi/gomega
	url = https://github.com/onsi/gomega
[submodule "src/golang.org/x/net"]
	path = src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "src/golang.org/x/text"]
	path = src/golang.org/x/text
	url = https://go.googlesource.com/text
[submodule "src/google.golang.org/genproto"]
	path = src/google.golang.org/genproto
	url = https://github.com/google/go-genproto
[submodule "src/google.golang.org/grpc"]
	path = src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "src/gopkg.in/yaml.v2"]
	path = src/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "src/code.cloudfoundry.org/goshims"]
	path = src/code.cloudfoundry.org/goshims
	url = https://github.com/cloudfoundry/goshims
[submodule "src/code.cloudfoundry.org/lager"]
	path = src/code.cloudfoundry.org/lager
	url = https://github.com/cloudfoundry/lager
	branch = master
[submodule "src/github.com/tedsuo/ifrit"]
	path = src/github.com/tedsuo/ifrit
	url = https://github.com/tedsuo/ifrit
	branch = master
[submodule "src/github.com/pivotal-cf/brokerapi"]
	path = src/github.com/pivotal-cf/brokerapi
	url = https://github.com/pivotal-cf/brokerapi
[submodule "src/code.cloudfoundry.org/clock"]
	path = src/code.cloudfoundry.org/clock
	url = https://github.com/cloudfoundry/clock
[submodule "src/code.cloudfoundry.org/debugserver"]
	path = src/code.cloudfoundry.org/debugserver
	url = https://github.com/cloudfoundry/debugserver
[submodule "src/github.com/gorilla/mux"]
	path = src/github.com/gorilla/mux
	url = https://github.com/gorilla/mux
[submodule "src/code.cloudfoundry.org/csibroker"]
	path = src/code.cloudfoundry.org/csibroker
	url = https://github.com/cloudfoundry/csibroker
	branch = master
[submodule "code.cloudfoundry.org/cflager"]
	path = code.cloudfoundry.org/cflager
	url = https://github.com/cloudfoundry/cflager
[submodule "github.com/Kaixiang/csiplugin"]
	path = github.com/Kaixiang/csiplugin
	url = https://github.com/Kaixiang/csiplugin
[submodule "src/github.com/Kaixiang/csiplugin"]
	path = src/github.com/Kaixiang/csiplugin
	url = https://github.com/Kaixiang/csiplugin
	branch = master
[submodule "src/code.cloudfoundry.org/volman"]
	path = src/code.cloudfoundry.org/volman
	url = https://github.com/cloudfoundry/volman
	branch = master
[submodule "src/github.com/container-storage-interface/spec"]
	path = src/github.com/container-storage-interface/spec
	url = https://github.com/container-storage-interface/spec
	branch = master
[submodule "src/code.cloudfoundry.org/csishim"]
	path = src/code.cloudfoundry.org/csishim
	url = https://github.com/cloudfoundry/csishim
	branch = master
[submodule "src/github.com/go-sql-driver/mysql"]
	path = src/github.com/go-sql-driver/mysql
	url = https://github.com/go-sql-driver/mysql
[submodule "src/golang.org/x/crypto"]
	path = src/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "src/code.cloudfoundry.org/service-broker-store"]
	path = src/code.cloudfoundry.org/service-broker-store
	url = https://github.com/cloudfoundry/service-broker-store
	branch = master
[submodule "src/code.cloudfoundry.org/csiplugin"]
	path = src/code.cloudfoundry.org/csiplugin
	url = https://github.com/cloudfoundry/csiplugin
	branch = master
[submodule "src/github.com/tedsuo/rata"]
	path = src/github.com/tedsuo/rata
	url = https://github.com/tedsuo/rata
[submodule "src/github.com/bmizerany/pat"]
	path = src/github.com/bmizerany/pat
	url = https://github.com/bmizerany/pat
[submodule "src/code.cloudfoundry.org/cfhttp"]
	path = src/code.cloudfoundry.org/cfhttp
	url = https://github.com/cloudfoundry/cfhttp
[submodule "src/code.cloudfoundry.org/local-k8s-csi-driver"]
	path = src/code.cloudfoundry.org/local-k8s-csi-driver
	url = https://github.com/cloudfoundry/local-k8s-csi-driver
[submodule "src/github.com/kubernetes-csi/drivers"]
	path = src/github.com/kubernetes-csi/drivers
	url = https://github.com/kubernetes-csi/drivers
[submodule "src/github.com/golang/glog"]
	path = src/github.com/golang/glog
	url = https://github.com/golang/glog
[submodule "src/code.cloudfoundry.org/local-node-plugin"]
	path = src/code.cloudfoundry.org/local-node-plugin
	url = https://github.com/cloudfoundry/local-node-plugin
	branch = master
[submodule "src/code.cloudfoundry.org/local-controller-plugin"]
	path = src/code.cloudfoundry.org/local-controller-plugin
	url = https://github.com/cloudfoundry/local-controller-plugin
	branch = master
[submodule "src/code.cloudfoundry.org/credhub-cli"]
	path = src/code.cloudfoundry.org/credhub-cli
	url = https://github.com/cloudfoundry-incubator/credhub-cli
[submodule "src/code.cloudfoundry.org/dockerdriver"]
	path = src/code.cloudfoundry.org/dockerdriver
	url = https://github.com/cloudfoundry/dockerdriver
	branch = master
